@import '../../../assets/style/var';

nav {
  flex: 1;

  ul {
    display: flex;
    justify-content: center;

    height: 100%;

    li {
      margin-left: 15px;

      align-self: center;
    }
  }
}
