@import "../../../assets/style/var";

section.recipes-list__container {
  width: 100%;
  padding: 0 0 50px;

  display: flex;
  align-items: flex-start;


  .recipes__not-found {
    margin-top: 50px;

    font-size: 40px;
    text-align: center;
  }

  .recipe-list {
    flex: 0 0 75%;

    padding: 0 20px;

    .recipe-list__list {
      width: 100%;

      .recipe {

      }
    }


    .load-more {
      text-align: center;
    }
  }

  aside.recipes__filters {
    flex: 0 0 25%;

    form {
      .form-group {
        width: 100%;
      }

      .filters__random {
        display: flex;
        justify-content: space-between;

        button {

        }
      }

      .form-group.recipes__search-query {
        input {
          width: 100%;
        }
      }
    }
  }
}
