.recipes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  min-height: 100%;
  padding: 0 10px;


  aside.recipes__filters {
    flex: 0 0 20%;

    margin-right: 20px;
    padding: 10px 20px;

    input.recipes__search-query {
      width: 100%;

      margin: 10px 0 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .recipes__filters-toggle {
    display: none;
  }

  .recipes-list__container {
    width: 100%;
    padding: 10px 20px 50px;

    .recipes__not-found {
      margin-top: 50px;

      font-size: 40px;
      text-align: center;
    }
  }

  .recipes-list {
    display: flex;
    flex: 0 0 80%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .recipe {
      flex: 0 0 23%;

      margin: 0 10px 30px;
      padding: 15px 0 5px;
    }
  }


  .load-more {
    text-align: center;
  }

  .recipes-list__filters {

    &.filters--mobile {
      display: none;
    }
  }
}
