<div class="container">

  <section class="recipes-list lock-preloader"
           [class.lock-element]="!recipes">
    <div *ngIf="recipes">
      <div *ngFor="let recipe of recipes"
           class="card recipe"
           id="recipe-{{ recipe.id }}">

        <a routerLink="/recipe/{{ recipe.id }}">

          <h2>{{ recipe.title }}</h2>

          <!--<div *ngIf="recipe.categories" class="recipe__categories">-->
            <!--<span class="card" *ngFor="let category of recipe.categories">-->
              <!--{{ category.category_name }}-->
            <!--</span>-->
          <!--</div>-->

          <div *ngIf="recipe.destinations" class="recipe__destinations">
            <span *ngFor="let destination of recipe.destinations"
                  class="" >
              {{ destination.name }}
            </span>
          </div>

          <figure>
            <img *ngIf="recipe.img"
                 class="recipe__img"
                 src="{{ recipe.img }}"
                 alt="{{ recipe.title }}">
          </figure>

          <div class="recipe__info">
            <span *ngIf="recipe.servingsCount">Порций: {{ recipe.servingsCount }}</span>
            <span *ngIf="recipe.cookingTime">Время готовки: {{ recipe.cookingTime }}</span>
            <span *ngIf="recipe.calories">Калории: {{ recipe.calories }}</span>
          </div>

          <!--<p *ngIf="recipe.body">-->
            <!--{{ recipe.body }}-->
          <!--</p>-->

        </a>
      </div>


      <div *ngIf="paginator.nextPage && recipes"
           class="load-more lock-preloader"
           [class.lock-element]="isLoadingMore">
        <button type="button"
                class="btn"
                (click)="loadMore()">
          load more
        </button>
      </div>

    </div>
  </section>


</div>
