<div class="container login">
  <div class="auth__form shadow">
    <h1>Вход</h1>

    <div *ngIf="authError"
         class="auth__error">{{ authError }}</div>

    <form [formGroup]="loginForm"
          (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="email">E-mail</label>
        <input id="email"
               name="email"
               type="text"
               class="inputs"
               formControlName="email">

        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
          <div *ngIf="email.errors.required">{{ errors.email.required }}</div>
          <div *ngIf="email.errors.minlength">{{ errors.email.minlength }}</div>
          <div *ngIf="email.errors.maxlength">{{ errors.email.maxlength }}</div>
          <div *ngIf="email.errors.pattern">{{ errors.email.pattern }}</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Пароль</label>
        <input id="password"
               name="password"
               type="password"
               class="inputs"
               formControlName="password">

        <div *ngIf="password.invalid && (password.dirty || password.touched)"
             class="alert alert-danger">
          <div *ngIf="password.errors.required">{{ errors.password.required }}</div>
          <div *ngIf="password.errors.minlength">{{ errors.password.minlength }}</div>
          <div *ngIf="password.errors.maxlength">{{ errors.password.maxlength }}</div>
          <div *ngIf="password.errors.passwordPattern">{{ errors.password.passwordPattern }}</div>
        </div>
      </div>

      <div class="form-group">
        <input type="submit"
               value="Вход"
               class="btn">
      </div>

    </form>
  </div>
</div>
