<section class="rationator__container card">

  <div class="rationator__nav">
    <!--<button class="btn" type="button"><-</button>-->

    <button class="btn" type="button">{{days.prev.dayOfWeek}}/{{days.prev.month}}</button>
    <button class="btn" type="button">сегодня <br> {{days.current.dayOfWeek}}/{{days.current.month}} </button>
    <button class="btn" type="button">{{days.next.dayOfWeek}}/{{days.next.month}}</button>

    <!--<button class="btn" type="button">-></button>-->
  </div>

  <div class="rationator">

  </div>

</section>
