@import "../../../assets/style/var";

.rationator__container {
  padding: 0;

  .rationator__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
  }

  .rationator {
    padding: 10px;
  }

  .rationator__eating {
    padding: 10px 10px 15px;

    .eating__empty {


      .eating__empty__icon {
        display: block;
        height: 28px;
        width: 28px;
        float: left;

        background-size: contain;
        background: url('../../../assets/img/food.png') no-repeat;
      }

      span:first-letter {
        color: lighten($banana-color-13, 20%);
        text-transform: capitalize;
      }
    }

    .eating__time {
      margin-bottom: 10px;

      font-weight: bold;
      color: $banana-color-16;
    }

    div.eating__card {
    }

    &.rationator__eating--active {
      border: 2px dashed $banana-color-16;

      .eating__empty__icon {
        background: url('../../../assets/img/food_active.png') no-repeat;
      }
    }

    &.rationator__eating--dragged {
      border: 2px dashed $banana-color-8;
    }

    .rationator__recipe {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      padding: 5px;

      font-size: 14px;

      &:hover {
        background: $banana-color-4;
      }
    }

    .recipe__body {
      width: 100%;
    }
  }
}
