.header {
	padding: 10px 10px 15px;

	.container {
		display: flex;

	}

	.header__logo {
		flex: 3;

		a {
			display: block;

			color: #c69500;
			font-size: 20px;
			text-decoration: none;
		}
	}

	.top-nav {
		flex: 1;

		ul {
			display: flex;

			height: 100%;

			li {
				align-self: center;
				flex-grow: 1;
			}

			li.top-nav__recipes {
				flex-grow: 6;
			}
		}
	}



}
