.header {
	padding: 10px 10px 15px;

  background: $banana-color-2;

  box-shadow: 0 2px 4px rgba(0,0,0,.5);

	.container {
		display: flex;
	}

	.header__logo {
		flex: 3;

		a {
			display: block;

			color: $banana-color-13;
			font-size: 20px;
			text-decoration: none;
		}
	}


}
