h2 {
  margin-bottom: 10px;

  font-size: 22px;
}

.page-title {
  padding: 15px;
  margin-bottom: 40px;

  font-size: 30px;
  text-align: center;
}

.subtitle {
  padding: 10px 5px;

  font-size: 18px;
  text-align: left;
}

.half-width {
  width: 50%;
}


.dn {
  display: none !important;
}

.tac {
  text-align: center;
}

.df {
  display: flex;
}

.aic {
  align-items: center;
}

hr {
  height: 1px;
  width: 100%;

  margin: 30px 0;
  padding: 0;

  border: none;
  outline: none;

  background: #e0e0e0;
}



.alert {
 color: #c7254e;
}
