<nav>
  <ul class="">
    <li class="btn">
      <a routerLink="/ration/calendar" routerLinkActive="link--active">календарь</a>
    </li>

    <li class="btn">
      <a routerLink="/ration/week" routerLinkActive="link--active">меню на неделю</a>
    </li>

    <li class="btn">
      <a routerLink="/ration/recipes" routerLinkActive="link--active">выбрать рецепты</a>
    </li>

    <!--<li class="btn">-->
      <!--<a routerLink="/ration/add-recipe" routerLinkActive="link&#45;&#45;active">добавить</a>-->
    <!--</li>-->

  </ul>
</nav>
