<nav>
  <ul class="">
    <li>
      <a class="link" routerLink="/ration/calendar" routerLinkActive="link--active">календарь</a>
    </li>

    <li>
      <a class="link" routerLink="/ration/week" routerLinkActive="link--active">меню на неделю</a>
    </li>

    <li>
      <a class="link" routerLink="/ration/recipe" routerLinkActive="link--active">выбрать рецепты</a>
    </li>

    <li>
      <a class="link" routerLink="/ration/add-recipe" routerLinkActive="link--active">добавить</a>
    </li>

  </ul>
</nav>
