<div *ngIf="message"
     (click)="onClick()"
     class="d-flex justify-content-between align-items-center alert"
     [class.alert-danger]="message.type === INFO_MESSAGE_TYPE.ERROR"
     [class.alert-warning]="message.type === INFO_MESSAGE_TYPE.WARNING"
     [class.alert-success]="message.type === INFO_MESSAGE_TYPE.SUCCESS">
  <div class="text-center">{{ message.text }}</div>
  <button class="btn"
          (click)="onClick()"
          title="Close message"
          type="button">
    <i class="icon wb-close"></i>
  </button>
</div>
