<!--<pre>-->
  <!--{{ recipe | json }}-->
<!--</pre>-->

<div class="container">
  <article *ngIf="recipe" class="recipe">
    <h1>{{ recipe.title }}</h1>

    <figure>
      <img *ngIf="recipe.img_name"
           class="recipe__img"
           src="{{ photoStorageUrl }}{{ recipe.recipe_id }}/{{ recipe.img_name }}"
           alt="{{ recipe.title }}">
    </figure>


    <div *ngIf="recipe.categories" class="recipe__categories">
      <span *ngFor="let category of recipe.categories"
            class="card">
        {{ category.category_name }}
      </span>
    </div>

    <div *ngIf="recipe.destinations" class="recipe__destinations">
      <span *ngFor="let destination of recipe.destinations"
            class="card">
        {{ destination.name }}
      </span>
    </div>

    <section *ngIf="recipe.ingredients.length"
             class="recipe__ingredients">
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
          <span>{{ ingredient.name }}</span> -
          <span>{{ ingredient.info.count }}</span>
          <span>{{ ingredient.info.measure }}</span>
        </li>
      </ul>
    </section>


    <section *ngIf="recipe.steps.length"
             class="recipe__steps">
      <ul>
        <li *ngFor="let step of recipe.steps">
          <h3>Шаг {{ step.recipe_step_id }}</h3>
          <figure *ngIf="step.img_name">
            <img
              class="recipe__img"
              src="{{ photoStorageUrl }}{{ recipe.recipe_id }}/{{ step.img_name }}"
              alt="{{ recipe.title }}">
          </figure>

          <p>{{ step.description }}</p>


        </li>
      </ul>
    </section>
  </article>

</div>
