.btn {
  padding: 11px 19px;
  border: none;

  border-radius: 4px;
  background-color: $banana-color-1;
  color: $banana-color-12;
  cursor: pointer;
  outline: none;

  transition: 0.2s;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;

  box-shadow: 0 0 1px 0 rgba(0,0,0,.1),
  0 1px 0 0 rgba(0,0,0,.1),
  -1px 2px 0 0 rgba(0,0,0,.05);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    color: darken($banana-color-12, 20%);
    background-color: $banana-color-9;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.28);
  }

  @include tablet() {
    padding: 7px 13px;

    font-size: 13px;
    line-height: 16px;
  }

  &.btn--center {
    display: block;
    width: auto;
    margin: 0 auto;
  }

  &:disabled {
    cursor: auto;
    background-color: $banana-color-4 !important;

    &:hover {
      background-color: $banana-color-4;

      -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
      -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
      -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
    }
  }

  &.active {
    background-color: $banana-color-5;
    color: $banana-color-14;

    &:hover {
      background-color: darken($banana-color-5, 10%);
    }
  }
}

.btn--delete {
  @extend .btn;
  padding: 6px 8px;

  color: $banana-color-15;
  background-color: $banana-color-3;

  &:hover {
    color: $banana-color-15;
    background-color: darken($banana-color-3, 10%);
  }
}


.btn--current {
  @extend .btn;

  color: $banana-color-15;
  background-color: $banana-color-3;

  &:hover {
    color: $banana-color-15;
    background-color: darken($banana-color-3, 10%);
  }
}
