@import '../var';

a {
  color: inherit;
  text-decoration: none;
}

.link {
  text-decoration: underline;
  color: #5bc0de;
  cursor: pointer;
}

.link--dark {
  @extend .link;

  color: $banana-color-13;
}

.link--small {
  @extend .link;

  font-size: 12px;
  line-height: 18px;
}

.link--active {
  color: #005cbf;
}
