@import "../../../assets/style/var";

.recipe {

  &.recipe--dragged {
    cursor: hand;

    figure,
    .recipe__info__filters span,
    .recipe__nav {
      display: none;
    }
  }

  figure {
    max-height: 300px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .recipe__info {
    padding: 10px 10px;

    color: lighten($banana-color-13, 20%);

    .recipe__title {
      padding-bottom: 10px;

      font-size: 22px;
      line-height: 26px;
      color: $banana-color-13;
    }

    .recipe__info__destinations {
      display: flex;
      justify-content: flex-start;

      margin-bottom: 15px;
    }

    .recipe__info__filters {
      display: flex;
      justify-content: flex-start;

      span {
        padding-right: 15px;
      }
    }

    .recipe__nav {
      padding: 10px 0 0;
      margin-top: 10px;
      border-top: 1px solid $banana-color-4;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          display: inline-block;
        }
      }
    }
  }


}
