<nav class="top-nav">
  <ul class="">
    <!--<li *ngIf="isLoggedIn | async" class="top-nav__recipes">-->
      <!--<a class="link&#45;&#45;dark"-->
         <!--routerLink="/calendar"-->
         <!--routerLinkActive="link&#45;&#45;active">календарь</a>-->
    <!--</li>-->

    <li class="top-nav__recipes">
      <a class="link--dark"
         routerLink="/"
         routerLinkActive="link--active">рецепты</a>
    </li>
    <li *ngIf="isLoggedIn | async" class="top-nav__recipes">
      <a class="link--dark"
         routerLink="/add-recipe"
         routerLinkActive="link--active">добавить</a>
    </li>

    <li *ngIf="!(isLoggedIn | async)" >
      <a class="link--dark"
         routerLink="/auth/login"
         routerLinkActive="link--active">вход</a>
    </li>
    <li *ngIf="!(isLoggedIn | async)" >
      <a class="link--dark"
         routerLink="/auth/register"
         routerLinkActive="link--active">регистрация</a>
    </li>

    <li *ngIf="isLoggedIn | async" >
      <a class="link--dark" (click)="logout()" >выход</a>
    </li>


    <!--<li *ngIf="userName | async" class="link">-->
    <!--{{ userName | async }}-->
    <!--</li>-->
  </ul>
</nav>
